/*
* === MAJOR  NAV CSS ===
*/

.jumbotron{
    text-align: center;
}
li{
    font-size: 20px;
}
.letter{
    font-family: forte;
}
.logo{
    color: white;
    font-size: 40px;
}
.nav-item:hover{
    border-color: white;
    border-bottom: medium solid;
    transition: 1s;
}

/*
* === MAJOR  Chat CSS ===
*/

.Friend {


    border: 3px blue;
    border-style: dashed solid;
    padding: 5px;
    text-align: left;
    float: left;
    width: 20%;
    margin-left: 20px;
    height: 450px;

}

/*
* === MAJOR  Friend list CSS ===
*/


.link {


    border: 3px  blue;
    border-style: dashed solid;
    padding: 5px;
    margin-right: 20px;
    height: 450px;


}

/*
* === MAJOR  links list CSS ===
*/

.chat-container{

align: center;
margin: auto;
border: 3px solid black;
width: 450px;
height: 550px;
scroll: hidden;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}







.chat-container #messages {

scroll: hidden;
align: center;
border: 5px solid blue;

}


.chat-container .myMessage{

float: left;

}

/*
* === MAJOR  chat container CSS ===
*/









