.navbar{
    padding: 10px;
}
nav{
    position: fixed;
}

.jumbotron{
    text-align: center;
}
li{
    font-size: 20px;
}
.letter{
    font-family: forte;
}
.logo{
    color: white;
    font-size: 40px;
}
.nav-item:hover{
  border-bottom-style: solid;
  border-color: white;
  border-bottom-width: medium;
  transition: 1s;
}

.btn {
  -webkit-border-radius: 37;
  -moz-border-radius: 37;
  border-radius: 37px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 32px;
  background: #2b60ff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}